processor:
  image: thoughtworksturkey/marketwatcher-data-processor
  links:
    - "db"
  entrypoint: /wait-for-it.sh db:9042 -- app/server_start.sh

trend:
  image: thoughtworksturkey/marketwatcher-trend-service
  environment:
    - CASSANDRA_NODES=db:9042
  links:
    - "db"
  ports:
    - "10900:10900"

db:
  image: cassandra:2.2
